<configuration>

    <appender name="blob" class="com.baeldung.logback.AzureBlobAppender">
        <prefix>test</prefix>
    </appender>

    <appender name="out" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="blob"/>
        <appender-ref ref="out"/>
    </root>

</configuration>